* {
  box-sizing: border-box;
}

body {
  font-size: 1.35em;
	font-family: monospace, sans-serif;
	color: #fff;
  background-color: #9d4527;
  background-image: linear-gradient(#5B382C, #9d4527);
  background-repeat: no-repeat;
}

.btn {
  outline: none;
  height: 50px;
  width: 160px;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: gray;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.btn:hover {
  background:#89a500;
}

.logo {
  margin: auto;
  margin-top: 50px;
  height: 274px;
  width: 300px;
  background-image: url(../img/camp-logo-small.png);
}

.container {
  max-width: 340px;
	background: none;
  border-radius: 5px;
  margin: 20px auto;
  text-align: center;
}

.item {
  outline: none;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: monospace,sans-serif;
	color: #89a63d;
  padding: 20px 0;
	border-radius: 15px;
  border: 5px solid white;
  margin: 20px auto;
}

.item:focus {
  border-color: #89a63d;
}

footer {
  margin-top: 50px;
  font-size: 16px;
  color: #ffd200;
  text-align: center;
}
