* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #9d4527;
  background-image: linear-gradient(#5B382C, #9d4527);
  background-repeat: no-repeat;
	color: #fff;
	font-family: monospace, sans-serif;
  font-size: 1.35rem;
}

button {
  background-color: #89a500;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 15px 50px;
  margin: 20px;
  outline: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #A7C126;
}

.logo {
  background-image: url(../img/camp-logo-small.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90vw;
  margin: 50px auto auto auto;
  max-height: 274px;
  max-width: 300px;
  width: 100%;
}

.container {
  margin: 20px auto;
  max-width: 340px;
  text-align: center;
}

input {
	border-radius: 15px;
	color: #89a63d;
  border: 5px solid white;
  font-family: monospace,sans-serif;
  font-size: 1.3rem;
  margin: 20px auto;
  outline: none;
  padding: 20px;
  text-align: left;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
}

input:focus {
  border-color: #89a63d;
}

footer {
  color: #ffd200;
  font-size: 0.9rem;
  margin: 50px auto;
  text-align: center;
}
